// Import variables and mixins.
@use "abstracts/abstracts" as *;

/*--------------------------------------------------------------
	# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
@use "generic/normalize" as *;

/* Box sizing
--------------------------------------------- */
@use "generic/box-sizing" as *;

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@use "base/base" as *;

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
// @use "layouts/content-sidebar" as *; // Uncomment this line for a sidebar on right side of your content.
// @use "layouts/sidebar-content" as *; // Uncomment this line for a sidebar on left side of your content.
@use "layouts/header" as *;
@use "layouts/search" as *;
@use "layouts/footer" as *;

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@use "components/banners/banners" as *;
@use "components/navigation/navigation" as *;
@use "base/elements/buttons" as *;

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

@use "plugins/woocommerce/block-grid" as *;



/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */
@use "utilities/accessibility" as *;

/* Alignments
--------------------------------------------- */
@use "utilities/alignments" as *;

@use "plugins/woocommerce/products" as *;

.wc-block-grid__product .wc-block-grid__product-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 80%;
	margin-bottom: 8px;
}
