@use "abstracts/variables/colors" as *;
@use "layouts/header" as *;
// Import variables and mixins.
@use "abstracts/abstracts" as *;

/* Normalize
--------------------------------------------- */
@use "generic/normalize" as *;

/* Box sizing
--------------------------------------------- */
@use "generic/box-sizing" as *;
@use "base/base" as *;
@use "layouts/search" as *;
@use "layouts/footer" as *;
@use "components/navigation/navigation" as *;

$borderVal : 2px solid $color__gray;

.woocommerce-table--order-details {
	border: $borderVal;

	thead th {
		border-bottom: $borderVal;
	}

	.product-name {
		text-align: center;
		border-right: $borderVal;
		width: 75%;
	}

	tbody .product-total {
		text-align: right;
		padding-right: 6%;
	}

	tfoot {

		tr:first-of-type {

			td,
			th {
				border-top: $borderVal;
			}
		}

		th {
			border-right: $borderVal;
		}

		td {
			text-align: right;
			padding-right: 6%;
		}
	}
}
