// Import variables and mixins.
@import "abstracts/abstracts";

/* Normalize
--------------------------------------------- */
@import "generic/normalize";

/* Box sizing
--------------------------------------------- */
@import "generic/box-sizing";
@import "base/base";
@import "layouts/header";
@import "layouts/search";
@import "layouts/footer";
@import "components/navigation/navigation";

$borderVal : 2px solid $color__gray;

.woocommerce-table--order-details {
	border: $borderVal;

	thead th {
		border-bottom: $borderVal;
	}

	.product-name {
		text-align: center;
		border-right: $borderVal;
		width: 75%;
	}

	tbody .product-total {
		text-align: right;
		padding-right: 6%;
	}

	tfoot {

		tr:first-of-type {

			td,
			th {
				border-top: $borderVal;
			}
		}

		th {
			border-right: $borderVal;
		}

		td {
			text-align: right;
			padding-right: 6%;
		}
	}
}
