h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

.title-full-width {
	font-family: nippori, sans-serif;
	font-weight: 300;
	width: 100%;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	margin: 2.4em 0;

	&::before,
	&::after {
		width: calc(50% - 4.5em);
		height: 4px;
		border-radius: 2px;
		background-color: $color__background-dark;
		content: "";
		position: absolute;
		top: 0.6em;
		display: block;
		z-index: -1;
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}
}
