h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

.title-full-width {
	font-family: nippori, sans-serif;
	font-weight: 300;
	width: 100%;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	margin: 4.3em 0 2.4em;
	text-shadow:
		-1px 0 0 $color__background-body,
		-2px 0 0 $color__background-body,
		-3px 0 0 $color__background-body,
		-4px 0 0 $color__background-body,
		-5px 0 0 $color__background-body,
		-6px 0 0 $color__background-body,
		-7px 0 0 $color__background-body,
		-8px 0 0 $color__background-body,
		-9px 0 0 $color__background-body,
		-10px 0 0 $color__background-body,
		-11px 0 0 $color__background-body,
		-12px 0 0 $color__background-body,
		-13px 0 0 $color__background-body,
		-14px 0 0 $color__background-body,
		1px 0 0 $color__background-body,
		2px 0 0 $color__background-body,
		3px 0 0 $color__background-body,
		4px 0 0 $color__background-body,
		5px 0 0 $color__background-body,
		6px 0 0 $color__background-body,
		7px 0 0 $color__background-body,
		8px 0 0 $color__background-body;

	&::before {
		width: 100%;
		height: 1px;
		background-color: $color__background-dark;
		content: "";
		position: absolute;
		top: 0.8em;
		display: block;
		z-index: -1;
	}
}
