.main-navigation {
	display: block;
	width: 100%;
	position: relative;

	@include breakpoint(md) {
		width: calc(100% - 181px);
		display: flex;
		justify-content: end;
		flex-wrap: wrap;
	}

	.menu {

		@include breakpoint(md) {
			width: calc(100% - 1em);
			margin-left: 1em;
			display: flex;
			justify-content: end;
		}

	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		border-bottom: 1px solid #ccc;

		@include breakpoint(md) {
			display: flex;
			justify-content: end;
			width: 100%;
			margin-bottom: 0;
			border-bottom: 0;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {}

			a:hover,
			a.focus {}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid $color__background-body;

		@include breakpoint(md) {
			border-top: 0;
			border-bottom: 0;
		}

		// &:hover  >  a,
		// &.focus  >  a {}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 0.5em 1em 0.6em;
		color: $color__background-dark;
		position: relative;

		@include breakpoint(md) {
			padding: 0.8em 0.7em;
		}

		@include breakpoint(lg) {
			padding: 0.8em 1em;
		}

		span {

			@include breakpoint(md) {
				display: none;
			}

			@include breakpoint(lg) {
				display: inline;
			}
		}

		&:visited,
		&:active {
			color: $color__background-dark;
		}

		&:hover {

			@include breakpoint(md) {
				color: $color__primary;
			}

		}

		&:hover::after {

			@include breakpoint(md) {
				transform: scaleX(1);
			}

		}

		&::after {
			width: calc(100% - 1em);
			height: 1px;
			content: "";
			display: block;
			position: absolute;
			left: 1em;
			bottom: 0;
			background-color: $color__primary;
			transform: scaleX(0);
			transition: transform 0.3s;
			transition-timing-function: ease-out;

			@include breakpoint(md) {
				left: 0.7em;
			}

			@include breakpoint(lg) {
				left: 1em;
			}
		}
	}

	.current-menu-item {
		border-bottom: 0;

		a {
			background-color: $color__text-main;
			color: $color__background-body;

			@include breakpoint(md) {
				background-color: transparent;
				color: $color__primary;
			}

			&::after {

				@include breakpoint(md) {
					transform: scaleX(1);
				}
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		margin: 0;
	}
}

.menu-wrapper {
	width: 100vw;
	height: calc(100vh - 50px);
	min-height: 285px;
	background-color: $color__background-screen;
	position: absolute;
	top: -100vh;
	left: -1em;
	transform: translateY(0);
	transition: transform 0.3s;
	transition-timing-function: ease-out;

	@include breakpoint(md) {
		width: 100%;
		height: unset;
		min-height: unset;
		background-color: transparent;
		position: relative;
		top: unset;
		left: 0;
		transform: unset;
		padding-right: calc(1em + 35px);
	}
}

.menu-toggle {
	width: 37px;
	height: 37px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: -44px;
	border-radius: 0;
	z-index: 10;

	@include breakpoint(md) {
		display: none;
	}

	span {
		display: none;
	}

	.fa-x {
		display: none;
	}
}

.toggled {

	.menu-toggle .fa-x {
		display: block;
	}

	.fa-bars {
		display: none;
	}

	.menu-wrapper {
		transform: translateY(100vh);
		transition: transform 0.3s;
		transition-timing-function: ease-out;

		@include breakpoint(md) {
			transform: translateY(0);
		}
	}

	.menu-toggle {
		border-bottom: 0;
	}

	&::after {
		width: 37px;
		height: 8px;
		content: "";
		display: block;
		position: absolute;
		bottom: 1px;
		right: 0;
		z-index: 10;
		border-right: 1px solid #aaa;
		border-left: 1px solid #aaa;
		background-color: $color__background-screen;

		@include breakpoint(md) {
			display: none;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
