body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

.site-main {
	z-index: 5;
	position: relative;
}

.content-wrapper {
	margin: 0 1em;
	max-width: calc(992px - 1em);

	@include breakpoint(lg) {
		margin: 0 auto;
	}
}
