button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.button, 
.wc-block-grid__product-add-to-cart.wp-block-button a.wp-block-button__link {
	border-radius: 2px;
	background-color: $color__primary;
	color: $color__background-body;
	text-decoration: none;
	padding: 0.7em 2em;
	font-weight: 100;
	font-size: 14px;
	text-transform: uppercase;
	border: 2px solid $color__primary;
	text-align: center;

	&:visited {
		color: $color__background-body;
	}

	&:hover {
		background: transparent;
		color: $color__primary;
	}
}
