input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	background-color: $color__gray;
	border-radius: 3px;
	padding: 3px;
	border: 2px solid darken($color__gray, 10%);
	width: 100%;

	&:focus {
		color: $color__text-input-focus;
	}
}

label {
	color: darken($color__gray, 40%);
	margin-right: 1em;
	display: block;
}

select {
	border: 2px solid $color__border-input;
	font-size: 0.8em;
	background-color: $color__background-button;
	padding: 0.8em;
	color: lighten($color__text-input, 30%);
	border-radius: 2px;
}

.select2-container .select2-selection--single {
	height: 35px;
	border: 2px solid darken($color__gray, 10%);
	background-color: $color__background-button;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: lighten($color__text-input, 30%);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 35px;
}

textarea {
	width: 100%;
}

input[type="checkbox"] {
	display: none;

	~ label,
	~ span {
		margin: 0 0 0 1.4em;
		display: block;
		position: relative;
		padding-left: 1em;

		&::before {
			width: 1em;
			height: 1em;
			content: "\f0c8";
			-webkit-font-smoothing: antialiased;
			display: var(--fa-display, inline-block);
			font-style: normal;
			font-variant: normal;
			line-height: 1;
			text-rendering: auto;
			font-family: "Font Awesome 6 Free";
			font-weight: 900;
			position: absolute;
			left: -1em;
			top: 0.1em;
			font-size: 1.4em;
		}
	}

	&:checked {

		~ label::before,
		~ span::before {
			content: "\f14a";
		}
	}
}


.comment-form {

	.stars {
		margin-top: 0;
	}
}

.woocommerce-input-wrapper {
	display: block;
}
