input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__background-dark;
	background-color: $color__gray;
	border-radius: 3px;
	padding: 3px;
	border: 2px solid darken($color__gray, 10%);

	&:focus {
		color: $color__text-input-focus;
	}
}

label {
	color: darken($color__gray, 20%);
	margin-right: 1em;
}

select {
	border: 1px solid $color__border-input;
	font-size: 0.8em;
	background-color: $color__background-button;
	padding: 0.4em;
	color: $color__text-input;
	border-radius: 5px;
}

textarea {
	width: 100%;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] ~ label {
	margin: 0 0 0 1.4em;
    display: block;
    position: relative;
    padding-left: 1em;

	&::before {
		width: 1em;
		height: 1em;
		content: "\f0c8";
		-webkit-font-smoothing: antialiased;
		display: var(--fa-display, inline-block);
		font-style: normal;
		font-variant: normal;
		line-height: 1;
		text-rendering: auto;
		font-family: "Font Awesome 6 Free";
		font-weight: 900;
		position: absolute;
		left: -1em;
		top: 0.1em;
		font-size: 1.4em;
	}
}

input[type="checkbox"]:checked ~ label::before {
	content: "\f14a";
}

.comment-form {
	.stars {
		margin-top: 0;
	}
}