.site-footer {
	background-color: $color__background-dark;
	padding: 1.5em 1em 0;
}

.site-info {
	display: flex;
	justify-content: space-between;

	p {
		font-size: 0.8em;
		color: rgba($color__background-screen, 0.5);
	}

	.menu {
		display: flex;
		justify-content: end;
		list-style-type: none;

		li:first-child {
			margin-right: 1em;
		}

		a {
			font-size: 2em;
			color: lighten($color__background-dark, 15%);

			span {
				display: none;
			}
		}
	}
}

.menu-footer-container .menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;

	li:first-child a {
		@include breakpoint(md) {
			padding-left: 0;
		}
	}

	li {
		position: relative;
		width: 50%;

		@include breakpoint(md) {
			width: unset;
		}

		&::after {
			@include breakpoint(md) {
				width: 1px;
				height: 1.1em;
				content: "";
				display: block;
				background-color: rgba($color__background-screen, 0.5);
				position: absolute;
				right: 0;
				top: 5px;
			}
		}

		&:last-child::after {
			display: none;
		}
	}

	a {
		font-size: 0.8em;
		color: rgba($color__background-screen, 0.5);
		text-decoration: none;
		width: 100%;

		@include breakpoint(md) {
			width: unset;
			padding: 0 0.5em;
		}
	}
}