$color__primary: #728cc4;
$color__secondary: #c4aa72;
$color__purple: #aa72c4;
$color__green: #b5c472;
$color__orange: #eadad1;
$color__red: #c4728c;
$color__gray: #eaeaea;
$color__background-body: #f3f0ee;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__gray;
$color__background-pre: #eee;
$color__background-ins: $color__orange;
$color__background-dark: #23282b;

$color__text-screen: #4163ab;
$color__text-input: $color__background-dark;
$color__text-input-focus: #111;
$color__link: $color__primary;

$color__link-visited: $color__secondary; //gold
$color__link-hover: lighten($color__primary, 15%);
$color__text-main: #404040;
$color__text-light: #d8e6ff;

$color__border-button: #eaeaea #eaeaea #eaeaea;
$color__border-button-hover: $color__primary $color__primary $color__primary;
$color__border-button-focus: $color__primary $color__primary $color__primary;
$color__border-input: #ccc;
$color__border-abbr: #666;
